<!DOCTYPE html>
<html>
  <head>
    <title>Snsn</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
	  
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	  

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
	  
	
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  </head>

  <body>
	<nav>
    	<div class="nav-wrapper">
      		<a href="/" class="brand-logo">2015112200 성현규</a>
      		<a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      		<ul class="right hide-on-med-and-down">
        		<li><a href="/posts">News</a></li>
				
				<% if user_signed_in? %>
					<li><%= current_user.name %></li>
					<li><%= link_to 'Sign out', destroy_user_session_path, method: 'delete'%></li>
				<% else %>
        			<li><a href="/users/sign_in">Sign in</a></li>
        			<li><a href="/users/sign_up">Sign up</a></li>
      		
				<% end %>
			
			
			</ul>
    	</div>
  	</nav>
	
    <%= yield %>
  </body>
</html>
